@import vars
@import partials/header
@import partials/home
@import partials/category
@import partials/single
@import partials/footer


body
    margin: 0
    font-family: $font-stack
    font-size: $primary-font-size
    line-height: $primary-line-height

.btn
    width: 210px
    height: 50px
    border: 1px solid #000000
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    span
        text-transform: uppercase
        text-decoration: none
        font-size: 15px
        font-weight: bold
    &:hover
        background: #feae00
        border-color: #feae00

@import media